*{
    font-family: 'Bebas Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(251,249,63);
    background: radial-gradient(circle, rgba(251,249,63,0.6418942577030813) 20%, rgba(195,91,66,1) 70%);
}
header{
    height: 8vh;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav>a{
    color: black;
    text-decoration: none;
    margin-left: 2rem;
}
nav a[href="#"]{
    background-color: orange;
    padding: 0.5rem;
    border-radius: 1rem;
}
nav a[href="#"]:hover{
    background-color: navy;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
header img{
    width: 2vw;
    height: 4vh;
}
main{
    min-height: 85vh;
    text-align: center;
}
footer{
    height: 7vh;
    background-color: aquamarine;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
h1{
    padding: 0.5rem;
}
h2{
    padding-bottom: 0.5rem;
}
.SubCont, .SubCont1{
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.SubCont img{
    width: 45rem;
    height: 12rem;
    object-fit: cover;
}
.SubCont1 img{ 
    width: 10rem;
    height: 12rem;
    object-fit: cover;
}
.SubCont1 p{
    width: 35vw;
}
.up{
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
} 
.center, .down{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.up img{
    width: 10rem;
    height: 12rem;
    object-fit: cover;
    justify-content: center;
}
.center img, .down img{
    width: 12rem;
    height: 7rem;
    object-fit: cover;
}
.up p, .center p, .down p{
    width: 25rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.television, .tiempo, .referencia{
    display: flex;
    align-items: center;
    justify-content: center;
}
.television img{
    width: 35rem;
    height: 20rem;
    object-fit: cover;
}
.tiempo{
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.referencia{
    display: flex;
    align-items: center;
    justify-content:center;
    justify-content: space-evenly;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: antiquewhite;
    width: 30rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}
tr{
    background-color: rosybrown;
}
th{
    background-color: yellowgreen;
}
td{
    background-color: cornsilk; 
    padding: 1rem;
}
.obsequio1 img, .obsequio2 img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
}
.obsequio1, .obsequio2{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.Lista1, .Lista2{
   width: 30rem;
}
.Consulta{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}
.Consulta p, .Consulta image{
    padding: 1rem;
    margin: 1rem;
}
image{
    width: 10vw;
    height: 10vh;
}


@media only screen and (min-width:320px) and (max-width: 768px){
    header{
        flex-direction: column-reverse;
        height: 25vh;
    }
    header img{
        width: 10vw;
        height: 10vh;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main{
        height: 70vh;
    }
    footer{
        height: 5vh;
    }
        .SubCont1{
            display: flex;
            flex-direction: column-reverse;
            height: 40vh;
        }
        .SubCont1 img{
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        }
        .SubCont1 p{
            width: 100vw;
        }
        .up, .center, .down{
            display: flex;
            flex-direction: column;
            height: 12rem;
        }
        .up img, .center img, .down img{
            width: 10rem;
            height: 7rem;
            object-fit: cover;
        }
        .up p, center p, .down p{
            height: 5rem;
            width: 15rem;
        }
        .television img{
            width: 15rem;
            height: 12rem;
            object-fit: cover;
        }
        .referencia{
            display: flex;
            flex-direction: column;
        }
        .obsequio1, .obsequio2{
            flex-direction: column;
            height: 15rem;
            padding: auto;
        } 
        .obsequio1 img, .obsequio2 img{
            width: 12rem;
            height: 10rem;
            object-fit: cover;
        } 
        .Consulta{
            display: flex;
            flex-direction: column-reverse;
        }
        iframe, form{
            height: 50%;
            width: 75%;
        }
    }
@media only screen and (min-width: 768px) and (max-width: 1024px){
    header{
        height: 15vh;
    }
    header img{width: 15vw;
        height: 15vh;
        transform: rotate(180deg);
    }
    header nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .SubCont1{
        flex-direction:row-reverse
    }
    .SubCont1 img{
        width: 20rem;
        height: 15rem;
        object-fit: cover; 
    }
    .SubCont1 p{
        width: 50vw;
    }
    main{
        height: 75vh;
    }
    footer{
        height: 10vh;
    }
    .All{
        height: 60vh;
    }
    .up,.down{
        display: flex;
        flex-wrap: wrap;
        height: 12rem;
    }
    .up img, .center img, .down img{
        width: 15rem;
        height: 10rem;
        object-fit: cover;
    }
    .center{
        font-display: flex;
        width: 50rem;
    }
    .Juego{
        height: 50vh;
        align-items: center;
    }
    .television{
        width: 50rem;
        height: 15rem;
        object-fit: contain; 
    }
    .television img{
        height: 100%;
        width: 80%;
        object-fit: cover;
    }
    .referencia p{
        flex-direction: column-reverse;
    }
    .Benefits-div{
        display: flex;
        flex-direction: column-reverse;
    }
    .obsequio1, .obsequio2{
        height: 35vh;
        padding: 5rem;
    }
    .Consulta{
        display: flex;
        flex-direction: row-reverse;
    }
}

    
   

